extends ../layout

block content
  p processing your payment

  form#payment-form(action="/gateway/braintree", method="post")
    #bt-dropin

    input#nonce(type="hidden" name="payment_method_nonce")
    input#amount(type="hidden" name='amount' value='#{amount}')
    button.button(type="submit")
      span Submit

  script(src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js")
  script.
    var form = document.querySelector('#payment-form');
    var token = '#{clientToken}';

    braintree.dropin.create({
      authorization: token,
      container: '#bt-dropin',
    }, function (createErr, instance) {
        console.log('inited bt client sdk');
        form.addEventListener('submit', function (event) {
          event.preventDefault();
          
          instance.requestPaymentMethod(function (err, payload) {
            if (err) {
              console.log('Error', err);
              return;
            }

            // Add the nonce to the form and submit
            document.querySelector('#nonce').value = payload.nonce;
            form.submit();
          });
        });
    });
    